{{> navlogedIn}}

<div class="container background-image">
    <div class="row">
        <div class="col-md-offset-4 col-md-4 col-sm-offset-4 col-sm-4 col-xs-offset-1 col-xs-10 registration-form">
            <h1 class="text-center">Search a User</h1>

            <form method="post" action="/result">
                <div class="form-group">
              
<input type="text" class="form-control" name="username" 
                placeholder="username" name="search" maxlength=30 required>
                </div>
                <input type="submit" class="btn btn-success btn-block" value="Search" />
            </form>

           
        </div>
    </div>
</div>





