<div>
    <form action="" method="post">
        Name:<br>
        <input type="text" name="nameee" value="">
        <br> Phone:
        <br>
        <input type="text" name="phone" value="">
        <br> Website:
        <br>
        <input type="text" name="website">
        <br> Address:
        <br>
        <input type="text" name="Address">
        <br> Hours:
        <br>
        <input type="text" name="hours">
        <br> Price:
        <br>
        <select name="cost">
            <option value="$">$</option>
            <option value="$$">$$</option>
            <option value="$$$">$$$</option>
            <option value="$$$$">$$$$</option>
        </select>
        <br> Description:
        <br />
        <textarea type="text" name='description' rows="10" cols="30"></textarea><br />
        <input type="submit" value="Submit">
    </form>
</div>
